i:hover {
  color: var(--tablet-mobile-icon-color);
}
i,
img:hover {
  cursor: pointer;
}
.shareIcon {
  color: #cccccc;
}
.shareIcon:hover {
  color: white;
}
.mobileIconsText{
  text-decoration: none;
  color: var(--tablet-mobile-icon-color);
}