<!-- header -->
<div class="container-fluid fixed-top pt-4 px-4 custom-header">
  <div class="row justify-content-around align-items-center">
    <div class="col-lg-3 col-6">
      <img
        loading="lazy"
        alt="hamburger"
        src="../../../../assets/icons/EOL_icons_desktop/{{ hamburgerIcon }}"
        [ngClass]="menuOpened ? 'invisible' : 'visible'"
        (click)="openSideMenu(content)"
        (mouseover)="hamburgerIcon = 'nav hover.svg'"
        (mouseout)="hamburgerIcon = 'nav collapsed.svg'"
        class="ps-lg-5 custom-responsive-icon"
      />
    </div>
    <div class="col-lg-6 text-center d-none d-lg-block">
      <img
        loading="lazy"
        class="img-fluid"
        src="../../../../assets/images/Logo/Logo.png"
        alt="logo"
        (click)="routeToHome()"
        width="auto"
      />
    </div>
    <div
      class="pe-lg-5 col-lg-3 d-none flex-column d-lg-flex justify-content-center align-items-end"
    >
      <img
        loading="lazy"
        alt="share"
        src="../../../../assets/icons/EOL_icons_desktop/{{ shareIcon }}"
        (click)="shareCurrentPageLink()"
        (mouseover)="shareIcon = 'share icon hover.svg'"
        (mouseout)="shareIcon = 'share icon.svg'"
        class="custom-responsive-icon"
        height="70"
        ngbTooltip="Link copied!"
        triggers="click:blur"
        placement="bottom"
        [autoClose]="true"
      />
      <span class="mt-2 pe-1 custom-text">Share</span>
    </div>
    <div class="col-6 d-block d-lg-none">
      <img
        loading="lazy"
        class="img-fluid float-end pe-3"
        src="../../../../assets/icons/EOL_icons_tablet_mobile/Logo.svg"
        alt="logo"
        (click)="routeToHome()"
        width="auto"
      />
    </div>
  </div>
</div>

<!-- sideMenu -->
<ng-template #content let-offcanvas>
  <div class="offcanvas-body">
    <div class="container py-4">
      <div
        *ngIf="screenWidth >= 768; else elseBlock"
        class="row gy-4 flex-column"
      >
        <div class="col-12">
          <img
            loading="lazy"
            height="40"
            width="60"
            alt="cross"
            src="../../../../assets/icons/EOL_icons_desktop/nav expanded.svg"
            (click)="menuOpened = false; offcanvas.dismiss('Cross click')"
          />
        </div>
        <div *ngFor="let item of sideMenuItems" class="col-12">
          <a
            (click)="menuOpened = false; offcanvas.dismiss('Cross click')"
            [routerLink]="item.href"
          >
            <ng-container
              *ngIf="!item.isActive; then nonActiveImage; else activeImage"
            >
            </ng-container>
            <ng-template #nonActiveImage>
              <img
                loading="lazy"
                class="iconImageOnHover"
                src="../../../../assets/icons/EOL_icons_desktop/{{
                  item.srcImg
                }}"
                height="60"
                width="60"
                [alt]="item.name"
                (mouseover)="
                  item.srcImg = item.hoverImgLink; item.showArrow = true
                "
                (mouseout)="
                  item.srcImg = item.imageLink; item.showArrow = false
                "
              />
              <img
                loading="lazy"
                *ngIf="item.showArrow"
                class="ms-2"
                [alt]="item.name"
                src="../../../../assets/icons/EOL_icons_desktop/{{
                  item.hoverArrowLink
                }}"
              />
            </ng-template>
            <ng-template #activeImage>
              <img
                loading="lazy"
                ngbAutoFocus
                height="60"
                width="60"
                src="../../../../assets/icons/EOL_icons_desktop/{{
                  item.activeImgLink
                }}"
                [alt]="item.name"
              />
              <img
                loading="lazy"
                class="ms-2"
                [alt]="item.name"
                src="../../../../assets/icons/EOL_icons_desktop/{{
                  item.activeArrowLink
                }}"
              />
            </ng-template>
          </a>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="row gy-4 flex-column text-center">
          <img
            loading="lazy"
            alt="cross"
            src="../../../../assets/icons/EOL_icons_desktop/nav expanded.svg"
            (click)="menuOpened = false; offcanvas.dismiss('Cross click')"
            class="col-2 custom-responsive-icon"
          />
          <div *ngFor="let item of sideMenuItems" class="col-12">
            <a
              class="mobileIconsText"
              (click)="menuOpened = false; offcanvas.dismiss('Cross click')"
              [routerLink]="item.href"
              >{{ item.name }}</a
            >
          </div>
        </div>
        <!-- social media icons -->
        <div class="row mt-5 justify-content-center">
          <div *ngFor="let socialMedia of socials" class="col-2">
            <a [href]="socialMedia.link" target="_blank">
              <img loading="lazy"
                src="../../../../assets/icons/EOL_icons_tablet_mobile/{{
                  socialMedia.src
                }}"
                [alt]="socialMedia.alt"
                width="27"
                height="27"
                [ngbTooltip]="socialMedia.alt"
                placement="bottom"
              />
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
