<!-- home page (landing page) -->
<app-header></app-header>
<ngb-carousel class="position-static carousel-fade" *ngIf="videos">
  <ng-template *ngFor="let video of videos" ngbSlide>
    <div class="picsum-img-wrapper">
      <video
        loop
        muted
        autoplay
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
        class="custom-video"
      >
        <source
          src="../../../assets/videos/home/{{ video.name }}"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="carousel-caption">
      <div class="mid-div">
        <h2 class="center-div">{{ video.text }}</h2>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<app-social></app-social>
