<!-- home page (landing page) -->
<!-- Todo: custom icons prev and next -->
<app-header></app-header>
<ngb-carousel class="position-static" *ngIf="videos">
  <ng-template *ngFor="let video of videos" ngbSlide>
    <div class="picsum-img-wrapper">
      <video
        loop
        muted
        autoplay
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/videos/home/{{ video.name }}"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="carousel-caption">
      <h2>{{ video.text }}</h2>
    </div>
  </ng-template>
</ngb-carousel>
<app-social></app-social>
