<ng-container *ngIf="screenWidth >= 767.98; else mobileScreen">
  <div class="container-fluid h-100 position-relative">
    <div class="text-center position-absolute top-50 start-50 translate-middle">
      <h4>You're being redirected to Owl Practice to book your appointment</h4>
      <p>If nothing happens, <a [href]="owlPractice">click here</a></p>
      <p>Go to home page <a routerLink="/home">Click here</a></p>
    </div>
  </div>
</ng-container>
<ng-template #mobileScreen>
  <div class="container-fluid d-flex align-items-center custom-height">
    <div class="text-center">
      <h4>You're being redirected to Owl Practice to book your appointment</h4>
      <p>If nothing happens, <a [href]="owlPractice">click here</a></p>
      <p>Go to home page <a routerLink="/home">Click here</a></p>
    </div>
  </div>
</ng-template>
